.navImage {
	margin-left: 5px;
	width: 30px;
	height: 30px;
}

#navmenu {
	vertical-align: top;
	display: flex;
	justify-content: right;
	margin-right: 40px;
	margin-top: 20px;
	
}

.active {
	opacity: 0.5;
}

.inline {
	display: inline-block;
}

.navLink {
	width: 40px;
}