@media (min-width: 780px) and (max-width: 950px) {
    .wrapper {
      max-width: 50rem !important;
    }
}

@media (min-width: 570px) and (max-width: 779px) {
    .wrapper {
      max-width: 35rem !important;
    }
}

@media  (max-width: 569px) {
    .wrapper {
        max-width: 25rem !important;
      }
}

.accordion-panel {
  cursor: default;  
}

.accordion-Link {
  cursor: pointer;
}

.accordion-icon {
  fill: var(--_panel-color);
  background: rgba(255, 255, 255, 0.5)    
}