#solarsystemTitle {
    color: #BEC5D6;
    font-family: Nasalization, "Lucida Grande", sans-serif;
    text-shadow: 2px 3px 3px #127E7A;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}